<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polokhachsergey.game">

    <application
        android:allowBackup="true"
        android:icon="@drawable/company"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guessNumberActivity"
            android:label="@string/gameName_guessNumber"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".guessNumberStartActivity"
            android:label="@string/menuDescription"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
        </activity>
        <activity
            android:name=".ListScreenImage"
            android:label="@string/settings">
        </activity>
        <activity
            android:name=".ListColor"
            android:label="@string/settings"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
    </application>

</manifest>